<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Email Analysis</title>

    <!-- Bootstrap core CSS -->
    <link href="/login/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/login/static/jumbotron-narrow.css" rel="stylesheet">


<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="https://www.optoseo.com">Home Page</a></li>
            <li role="presentation"><a href="/index">Home</a></li>

  
            <li role="presentation"><a href="/admin">Admin</a></li>

            <li role="presentation"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
      </div>



  </head>
    <body>
    
         <hr>
         
         {% block content %} {% endblock %}
                
        
    </body>



</html>
