{% extends "base.html" %}
{% block content %}


<body>
          
      <div class="jumbotron">
        <h2>Hello {{name}}</h2>
        <p><a class="btn btn-lg btn-success" href="/daily" role="button"> Flow Analysis(Daily)</a></p>
        <p><a class="btn btn-lg btn-success" href="/weekly" role="button">Flow Analysis(Weekly)</a></p>
        <p><a class="btn btn-lg btn-success" href="/daily-pieAnalysis" role="button">Email Ratio(Daily)</a></p>
        <p><a class="btn btn-lg btn-success" href="/weekly-pieAnalysis" role="button">Email Ratio(Weekly)</a></p>
        
        <p><a class="btn btn-lg btn-success" href="/daily-wordcount" role="button">Word Count(Daily)</a></p>
        <p><a class="btn btn-lg btn-success" href="/weekly-wordcount" role="button">Word Count(Weekly)</a></p>
        
         <p><a class="btn btn-lg btn-success" href="/month_inbox" role="button">Monthly-Activity(Inbox)</a></p>
         
         <p><a class="btn btn-lg btn-success" href="/month_outbox" role="button">Monthly-Activity(Outbox)</a></p>

      
</div>

      <footer class="footer">
        <p>&copy; http://optoseo.com/</p>
      </footer>

    </div> <!-- /container -->

  
</body>

{% endblock %}
